body {
  font-family: sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

main {
  margin: auto;
  display: flex;
}

#container {
  width: 100vw;
  height: 100vh;
}

img {
  height: 210px;
  width: 275px;
  object-fit: cover;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

i {
  color: red;
  margin-left: 40%;
  height: 20px;
}